process {
    withLabel: seqkit {
        cpus = params.cores
        memory = params.memory
    } 
    withLabel: fastp { 
        cpus = params.cores
        memory = params.memory
     } 
    withLabel: busco { 
        cpus = params.cores
    } 
    withLabel: augustus { 
        cpus = 1
    } 
    withLabel: exonerate { 
        cpus = 1 
    }
    withLabel: bedtools { 
        cpus = params.cores
        memory = params.memory
    }
    withLabel: repeat { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: hisat2 { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: trinity { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: pasa { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: evm { 
        cpus = params.cores
        memory = params.memory
    }
}
