process {
    withLabel: seqkit { 
        conda = "$baseDir/envs/seqkit.yaml" 
    } 
    withLabel: fastp { 
        conda = "$baseDir/envs/fastp.yaml" 
    } 
    withLabel: busco { 
        conda = "$baseDir/envs/busco.yaml" 
    } 
    withLabel: augustus { 
        conda = "$baseDir/envs/augustus.yaml" 
    } 
    withLabel: exonerate { 
        conda = "$baseDir/envs/exonerate.yaml"
    }
    withLabel: bedtools { 
        conda = "$baseDir/envs/bedtools.yaml"
    }
    withLabel: repeat { 
        conda = "$baseDir/envs/repeat_annotation.yaml" 
    }
    withLabel: evm { 
        conda = "$baseDir/envs/evidencemodeler.yaml" 
    }
    withLabel: hisat2 { 
        conda = "$baseDir/envs/hisat2.yaml" 
    }
    withLabel: trinity { 
        conda = "$baseDir/envs/trinity.yaml" 
    }
    withLabel: pasa { 
        conda = "$baseDir/envs/pasa.yaml" 
    }
}