process {
    withLabel: seqkit { 
        container = harbor.lzu.edu.cn/quanw19/seqkit:latest
    } 
    withLabel: fastp { 
        container = harbor.lzu.edu.cn/quanw19/fastp:latest
    } 
    withLabel: busco { 
        container = harbor.lzu.edu.cn/quanw19/busco:v5.52.2_cv2
    } 
    withLabel: augustus { 
        container = harbor.lzu.edu.cn/quanw19/augustus:latest
    } 
    withLabel: exonerate { 
        container = harbor.lzu.edu.cn/quanw19/exonerate:latest
    }
    withLabel: bedtools { 
        container = harbor.lzu.edu.cn/quanw19/bedtools:latest
    }
    withLabel: repeat { 
        container = harbor.lzu.edu.cn/quanw19/repeatmasker:latest
    }
    withLabel: evm { 
        container = harbor.lzu.edu.cn/quanw19/evm:latest
    }
    withLabel: hisat2 { 
        container = harbor.lzu.edu.cn/quanw19/hisat2:latest
    }
    withLabel: trinity { 
        container = harbor.lzu.edu.cn/quanw19/trinityrnaseq:latest
    }
    withLabel: pasa { 
        container = harbor.lzu.edu.cn/quanw19/pasapipline:latest
    }
}