process {
    withLabel: seqkit {
        //cpus = '1'
        //memory = '128 GB'
    } 
    withLabel: fastp { 
        //cpus = '1'
        //memory = '128 GB'
     } 
    withLabel: busco { 
        //cpus = '1'
        //memory = '128 GB'
     } 
    withLabel: augustus { 
        //cpus = '1'
        //memory = '128 GB'
    } 
    withLabel: exonerate { 
        //cpus = '1'
        //memory = '128 GB'
    }
    withLabel: bedtools { 
        //cpus = '1'
        //memory = '128 GB'
    }
    withLabel: repeat { 
        cpus = '40'
        //memory = '128 GB'
    }

    withLabel: hisat2 { 
        //cpus = '1'
        //memory = '128 GB'
    }

    withLabel: trinity { 
        //cpus = '1'
        //memory = '128 GB'
    }

    withLabel: pasa { 
        //cpus = '1'
        //memory = '128 GB'
    }

    withLabel: evm { 
        //cpus = '1'
        //memory = '128 GB'
    }
}