process {
    withLabel: seqkit {
        cpus = params.cores
        memory = params.memory + ' GB'
    } 
    withLabel: fastp { 
        cpus = params.cores
        memory = params.memory + ' GB'
     } 
    withLabel: busco { 
        cpus = params.cores
        memory = params.memory + ' GB'
     } 
    withLabel: augustus { 
        cpus = params.cores
        memory = params.memory + ' GB'
    } 
    withLabel: exonerate { 
        cpus = params.cores
        memory = params.memory + ' GB'
    }
    withLabel: bedtools { 
        cpus = params.cores
        memory = params.memory + ' GB'
    }
    withLabel: repeat { 
        cpus = params.cores
        memory = params.memory + ' GB'
    }

    withLabel: hisat2 { 
        cpus = params.cores
        memory = params.memory + ' GB'
    }

    withLabel: trinity { 
        cpus = params.cores
        memory = params.memory + ' GB'
    }

    withLabel: pasa { 
        cpus = params.cores
        memory = params.memory + ' GB'
    }

    withLabel: evm { 
        cpus = params.cores
        memory = params.memory + ' GB'y + ' GB'
    }
}