process {
    withLabel: seqkit {
        cpus = Math.min( 2 , params.cores as int )
    } 
    withLabel: fastp { 
        cpus = Math.min( 8 , params.cores as int )
     } 
    withLabel: busco { 
        cpus = params.cores
    } 
    withLabel: augustus { 
        cpus = 1
    } 
    withLabel: exonerate { 
        cpus = 1 
    }
    withLabel: bedtools { 
        cpus = 1
    }
    withLabel: repeatmasker { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: repeatmodeler { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: hisat2 { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: trinity { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: evm { 
        cpus = 1
    } 
    
    withLabel: smalljobs {
        cpus = 1
        memory = 2.GB
    }
    
    withLabel: cdhit {
        cpus = params.cores
        memory = params.memory
    }
   
    withName: build_database {
        cpus = 1
    }

    withName: pasa_create_tdn {
        cpus = 1
    }
    withName: pasa_assemblies_to_orf {
        cpus = 1
    }
    withName: pasa_seq_clean {
        cpus = 1
    }
    
    withName: pasa { 
        cpus = params.cores
        memory = params.memory
    }
    
}
