process {
    withLabel: seqkit {
        container = 'harbor.lzu.edu.cn/quanw19/seqkit:latest'
    } 
    withLabel: fastp { 
        container = 'harbor.lzu.edu.cn/quanw19/fastp:latest'
     } 
    withLabel: busco { 
        container = 'harbor.lzu.edu.cn/quanw19/busco:3.1.0'
    } 
    withLabel: augustus { 
        container = 'harbor.lzu.edu.cn/quanw19/augustus:latest'
    }
    withLabel: exonerate { 
        container = 'harbor.lzu.edu.cn/quanw19/exonerate:latest'
    }
    withLabel: bedtools { 
        container = 'harbor.lzu.edu.cn/quanw19/bedtools:latest'
    }
    withLabel: repeatmasker{ 
        container = 'dfam/tetools'
    }
    withLabel: repeatmodeler{ 
        container = 'dfam/tetools'
    } 
    withLabel: hisat2 { 
        container = 'harbor.lzu.edu.cn/quanw19/hisat2:latest'
    }

    withLabel: trinity { 
        container = 'harbor.lzu.edu.cn/quanw19/trinityrnaseq:latest'
    }

    withLabel: pasa { 
        container = 'harbor.lzu.edu.cn/quanw19/pasapipline:latest'
    }

    withLabel: evm { 
        container = 'harbor.lzu.edu.cn/quanw19/evm:latest'
    } 
    
    withLabel: cdhit {
        container = 'harbor.lzu.edu.cn/quanw19/cdhit:latest'
    }
}