process {
    withLabel: seqkit {
        cpus = 2
    } 
    withLabel: fastp { 
        cpus = params.cores
        memory = params.memory
     } 
    withLabel: busco { 
        cpus = params.cores
    } 
    withLabel: augustus { 
        cpus = 1
    } 
    withLabel: exonerate { 
        cpus = 1 
    }
    withLabel: bedtools { 
        cpus = params.cores
        memory = params.memory
    }
    withLabel: repeat { 
        cpus = params.cores / 2 
        memory = params.memory
    }

    withLabel: hisat2 { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: trinity { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: pasa { 
        cpus = params.cores
        memory = params.memory
    }

    withLabel: evm { 
        cpus = 1
    } 
    
    withLabel: smalljobs {
        cpus = 1
        memory = 8
    }
    
    withLabel: cdhit {
        cpus = params.cores
        memory = params.memory
    }
}